footer                     { margin-bottom: 7%;  overflow: hidden; }
footer img                 { float: left; margin-left: 7px; background: none repeat scroll 0 0 #FFFFFF;
                             padding-top: 15px;
                           }
footer p                   { font-size: 13px; font-weight: 300; color: #555555; padding: 21px 0 0 91px; }